html {
    background-color: white;
    font-size: 15px;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: rgb(45, 45, 45);
    color: white;
    width: auto;
}

h1 {
    position: relative;
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
}

article {
    text-align: center;
    overflow: auto;
}

ul {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(45, 45, 45);
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding-top: 27px;
    padding-left: 30px;
    text-decoration: none;
}

li a:hover {
    color: white;
}

nav a {
    font-size: 25px;
    color: lightgray;
    text-decoration: none;
}

.background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#about {
    padding: 150px;
    background-image: url("pictures/line-bg.png");
    text-align: left;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.about-grid {
    grid-column: 1 / 2;
    width: 500px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}

.contacts-images {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    padding: 0.2em;
}

#main-name {
    color: white;
    padding-left: 30px;
    font-size: 50px;
}

#main-title {
    font-size: 60px;
}

#info {
    background: black;
}

#title {
    text-align: center;
}

#contact {
    background-image: url("pictures/contacts-bg.png");
    background-attachment: scroll;
}