html {
    background-color: white;
    font-size: 15px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
}

footer {
    padding-top: 50px;
    text-align: center;
    width: auto;
}

h1 {
    position: relative;
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
}

article {
    text-align: center;
    overflow: auto;
}

ul {
    list-style-type: none;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
    left: 45px;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding-top: 27px;
    padding-left: 30px;
    text-decoration: none;
    outline: none;
}

li a:hover {
    color: lightgray;
}

nav a {
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.contacts-images {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    padding: 0.2em;
}

#proj-images {
    text-align: center;
    width: 50rem;
    height: 30rem;
}

#main-name {
    color: black;
    padding-left: 30px;
    font-size: 45px;
    position: relative;
    left: 77px;
}

#title {
    text-align: center;
    font-size: 30px;
}

#info {
    text-align: center;
    padding-left: 215px;
    padding-right: 215px;
}

#canvas {
    max-width: 1200px;
    margin: 10px auto;
    padding: 75px;
}

#repo-image {
    width: 1.2rem;
    height: 1.5rem;
}

#paint-image {
    width: 1.5rem;
    height: 1.5rem;
}

#repo-link {
    padding-left: 580px;
    color: lightgray;
    font-size: 15px;
    color: black;
    text-align: center;
    text-decoration: none;
    outline: none;
}

#repo-request-link {
    padding-left: 445px;
    color: lightgray;
    font-size: 15px;
    color: black;
    text-align: center;
    text-decoration: none;
    outline: none;
}

#website-link {
    padding-left: 620px;
    color: lightgray;
    font-size: 15px;
    color: black;
    text-align: center;
    text-decoration: none;
    outline: none;
}

@media only screen and (max-width: 1300px) {
    .image {
        height: 12.5rem;
        width: 17.5rem
    }
    #info {
        padding-left: 0px;
        padding-right: 0px;
    }
    #repo-link {
        padding-left: 0;
    }
    #repo-request-link {
        padding-left: 0;
    }
    #website-link {
        padding-left: 0;
    }
}