html {
    background-color: white;
    font-size: 15px;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: rgb(45, 45, 45);
    color: white;
    width: auto;
}

h1 {
    position: relative;
    text-align: left;
    top: 15rem;
    color: black;
    font-size: 3rem;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 35px;
}

ul {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(45, 45, 45);
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding-top: 27px;
    padding-left: 30px;
    text-decoration: none;
}

li a:hover {
    color: white;
}

nav a {
    font-size: 25px;
    color: lightgray;
    text-decoration: none;
}

article {
    border-bottom: 1px solid black;
    text-align: center;
    overflow: auto;
}

.background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contacts-images {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    padding: 0.2em;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 100px;
    padding: 10px;
}

.proj-span2-title {
    grid-column: 1 / span 2;
}

.proj-span2-info {
    padding-left: 315px;
    padding-right: 315px;
}

.proj-image {
    border: 1px solid #ddd;
    height: 25rem;
    width: 35rem;
}

#main-name {
    color: white;
    padding-left: 30px;
    font-size: 50px;
}

#main-title {
    font-size: 60px;
}

#home {
    padding: 50px;
    background-attachment: fixed;
    background-image: url("pictures/home-wallpaper.png");
    background-position-y: -225px;
    height: 100vh;
}

#content {
    border: 2px none black;
    padding: 50px;
}

#about {
    padding-left: 150px;
    padding-right: 150px;
    background-image: url("pictures/project-wallpaper.png")
}

#contact {
    background-image: url("pictures/contacts-bg-test.png");
    background-attachment: scroll;
}